<div class="row">
  <div
    class="btn-group"
    appDropdown>
    <button
      type="button"
      data-toggle="dropdown"
      class="btn btn-primary dropdown-toggle">
      Manage...<span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li><a (click)="onEdit()">Edit Manufacturer</a></li>
      <li><a (click)="onDelete()">Delete Manufacturer</a></li>
    </ul>
  </div>
</div>

<div class="row">
  <h2>{{ manufacturer.name }}</h2>

  <p>Founded in {{ manufacturer.founded }}.</p>

  <div *ngIf="manufacturer.weapons.length > 0; else noWeapons">
    <p>Manufactures the following weapons:</p>
    <ul>
      <li *ngFor="let weapon of manufacturer.weapons"><a routerLink="/weapons/{{ weapon.id }}">{{ weapon.name }}</a></li>
    </ul>
  </div>

  <ng-template #noWeapons>
    <p>This manufacturer does not appear to manufacture any weapons.</p>
  </ng-template>
</div>