<div class="row" *ngIf="editMode; else newGameTitle">
  <h2>Editing {{ game.name }}</h2>
</div>

<ng-template #newGameTitle>
  <div class="row">
    <h2>Creating new game</h2>
  </div>
</ng-template>

<div class="row">
  <label for="gameName">Name</label>
  <input type="text" class="form-control" id="gameName"
    required
    [(ngModel)]="game.name" name="name">
</div>

<div class="row">
  <label for="gameDescription">Description</label>
  <textarea class="form-control" id="gameDescription"
    [(ngModel)]="game.description" name="description"></textarea>
</div>

<div class="row">
  <label for="gameImagePath">Image Path</label>
  <input type="text" class="form-control" id="gameImagePath"
    [(ngModel)]="game.imagePath" name="imagePath"
    placeholder="URL leading to an image for this game.">
</div>

<div class="row">
  <label for="gameReleased">Released</label>
  <input type="text" class="form-control" id="gameReleased"
    [(ngModel)]="game.released" name="released">
</div>

<div class="row">
  <label for="gameDeveloper">Developer</label>
  <select class="form-control" id="gameDeveloper" [(ngModel)]="developerId">
    <option *ngFor="let developer of developers" [value]="developer.id">{{ developer.name }}</option>
  </select>
</div>

<div class="row btn-group">
  <button type="button" class="btn btn-primary" (click)="onSaveChanges()">Save Changes</button>
  <button type="button" class="btn btn-default" (click)="onCancel()">Cancel</button>
</div>