<div class="row">
<div
    class="btn-group"
    appDropdown>
    <button
    type="button"
    data-toggle="dropdown"
    class="btn btn-primary dropdown-toggle">
    Manage...<span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
    <li><a (click)="onEdit()">Edit Game</a></li>
    <li><a (click)="onDelete()">Delete Game</a></li>
    </ul>
</div>
</div>

<h1>{{ game.name }}</h1>

<p>{{ game.description }}</p>

<p>Developed by <a routerLink="/developers/{{ game.developer.id }}">{{ game.developer.name }}</a> in {{ game.released }}.</p>

<p>Features the following weapons:</p>
<ul>
    <li *ngFor="let weapon of game.weapons"><a routerLink="/weapons/{{ weapon.id }}">{{ weapon.name }} (as {{ weapon.ingameName }})</a></li>
</ul>