<div class="row">
  <div
    class="btn-group"
    appDropdown>
    <button
      type="button"
      data-toggle="dropdown"
      class="btn btn-primary dropdown-toggle">
      Manage...<span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li><a (click)="onEdit()">Edit Weapon</a></li>
    </ul>
  </div>
</div>

<div class="row">
  <h2>{{ weapon.name }}</h2>

  <p>{{ weapon.description }}</p>

  <p>Designed in {{ weapon.designed }}. Manufactured by <a routerLink="/manufacturers/{{ weapon.manufacturer.id }}">{{ weapon.manufacturer.name }}.</a></p>

  <div *ngIf="weapon.games.length > 0; else noGames">
    <p>Appears in the following games:</p>
    <ul>
      <li *ngFor="let game of weapon.games"><a routerLink="/games/{{ game.id }}">{{ game.name }} (as {{ game.ingameName }})</a></li>
    </ul>
  </div>

  <ng-template #noGames>
    <p>This weapon is not featured in any games.</p>
  </ng-template>
</div>