<div class="row">
  <h1>Manufacturers</h1>
</div>`

<button type="button" class="btn btn-success" id="addManufacturerButton" (click)="onAddManufacturer()">Add new manufacturer</button>

<div class="row">
  
    <div class="col-md-4">
      
      <div class="row">
        <div class="col-xs-12">
          <app-manufacturer-item
            *ngFor="let manufacturerEl of manufacturers; let i = index"
            [manufacturer]="manufacturerEl"></app-manufacturer-item>
        </div>
      </div>

    </div>
  
    <div class="col-md-8">
        <router-outlet></router-outlet>
    </div>
  </div>